* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

/* body {
    overflow-y: hidden;
} */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: url("/images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    width: 45vw;
    text-align: center;
    padding: 15px 0;

    backdrop-filter: blur(5px) brightness(40%);
    display: flex;
    align-items: center;
}

.content {
    margin: 10%;
}

.title {
    font-size: 4em;
}

.description {
    font-size: 1.2em;
    padding: 10%;
}

.icons button {
    background: transparent;
    border: none;
    padding: 1%;
}

.icons p {
    font-size: 1.1em;
}

.icons button:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .container {
        width: 65vw;
    }

    .content {
        margin: 7.5%;
    }

    .title {
        font-size: 3em;
    }

    .description {
        font-size: 1.1em;
        padding: 7.5%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90vw;
    }

    .content {
        margin: 5%;
    }

    .title {
        font-size: 2.5em;
    }

    .description {
        font-size: 1em;
        padding: 5%;
    }
}
